*{
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 2000px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Navbar */
.header_container .navbar .fname{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8CB9BD;
    font-size: 3rem;
}

.header_container .navbar a{
    text-decoration: none;
}

.header_container .navbar .lname{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #265073;
    font-size: 3rem;

}
/* 
.header_container .navbar .logo .home{
    position: fixed;
    top: 12px;
} */

.header_container .navbar{
    display: flex;
    background-color:white;
    justify-content: center;
}


/* navbar prem home and all */
.navbar .logo{
    display: flex;
    /* padding-left: 2rem; */
    align-items: center;
    height: 5rem;
}

.header_container .navbar .home ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    /* background-color: black; */
    align-items: center;
    width: 55rem;
    height: 5rem;

}

.header_container .navbar .home ul a{
    color: #265073;
    position: relative;
    font-size: 15px;
}
.header_container .navbar .home ul a i{
    margin: 10px;
}

.header_container .navbar .home ul a:before{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 5px;
    /* margin-left: 10px; */
    width: 120%;
    left: 0px;
    background-color: #265073;
    transition: .4s;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.header_container .navbar .home ul a:hover:before{
    transform: scaleX(1);
}


/* navbar photo and text start */

.iamprem{
    background-color: white;
    height: 33rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
/* Navbar Photo Start */

.iamprem img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

/* navbar photo end */

/* navbar text start */

.iamprem .name{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #265073;
}
 .iamprem .am{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-style: normal;
 }

 .iamprem #element{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
 }
/* Navbaer I am Prem */

.ml12 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
    font-size: 1.8em;
    text-transform: uppercase;
    /* letter-spacing: 0.5em; */
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

  /* navbar text end */

/* navbar photo and text end */

/* Complete  entire NAVBAR */



